<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.metrocem.mis">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_mis_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Reports.DORequestHistoryActivity"></activity>
        <activity android:name=".Challan.ChallanDetailActivity" />
        <activity android:name=".SignInAndRegistration.DeviceRegistrationActivity" />
        <activity
            android:name=".EmployeeTradePromotions.ExistingTradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TradeBrandPromotion.MultimediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReuestedDOInfo.ProcessedDOActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReuestedDOInfo.RequestedOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SMSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PushNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderInformation.OrderTrendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CurrentPendingOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderInformation.ChallanInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EmployeeTradeProActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderInformation.OrderPendingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeliveredDOInfo.OrderDeliveredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BrandCommunicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TradePromotionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInAndRegistration.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/image" />

        <service
            android:name=".Firebase.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>